#page {
  position: relative;
  background-color: white;
  padding: 0 1em;
}

.pageNumber {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}

.spacer {
  height: 4em;
}
