.App {
  position: relative;
}

.book-info {
  text-align: center;
}

.book-info .author {
  font-style: italic;
  margin-top: -0.8em;
}

#pages {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  /* column-gap: 1em; */
  margin: 2em 4em;
  padding: 0.8em 1em;
  background-color: rgb(24, 23, 23);
  border-radius: 1em;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;

  /* color: white; */
}
.btn {
  position: absolute;
  top: 50%;
  margin: 0 1em;
  background: none;
  border: none;
  border-radius: 50%;
  color: white;
  width: 1.3em;
  height: 1.3em;
  font-weight: 900;
  font-size: 1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}
/* buttons */

#navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 1;
}

.leftPage {
  /* box-shadow: -10px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -10px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 7px 5px 0px rgba(0, 0, 0, 0.75); */
  clip-path: polygon(
    25% 1%,
    0 0,
    0 55%,
    0 100%,
    25% 99%,
    50% 99%,
    75% 98%,
    100% 95%,
    100% 52%,
    100% 5%,
    75% 2%,
    50% 1%
  );
}

.rightPage {
  /* -moz-box-shadow: -10px 7px 5px 0px rgba(0, 0, 0, 0.75); */
  clip-path: polygon(
    75% 1%,
    100% 0,
    100% 55%,
    100% 100%,
    75% 99%,
    50% 99%,
    25% 98%,
    0 95%,
    0 52%,
    0 5%,
    25% 2%,
    50% 1%
  );
  border-left: rgba(0, 0, 0, 0.808) 0.1em solid;
}

#rotatePage {
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-weight: 600;
  width: 100vw;
  padding: 0.5em;
  display: none;
  z-index: 3;
}

@media only screen and (max-width: 500px) {
  #rotatePage {
    display: block;
  }
}
